.navbar {
  width: 100%;
  background: #efefef;
  padding-top: 5px;
  height: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.navbar h2 {
  font-size: 16px;
  color: #444;
}
.navbar span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #ede6fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 10px;
  color: blueviolet;
}
