.container {
  display: flex;
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 668px) {
  .container {
    display: flex;
    align-content: flex-start;
  }
}
